.vs
.config
*.user
[Bb]in/
[Oo]bj/
packages/
build/outputs
build/tools
src/Shared/HandyControl_Shared/Themes/Theme.xaml
src/Net_GE45/HandyControl_Net_GE45/Themes/Theme.xaml
src/Net_40/HandyControl_Net_40/Themes/Theme.xaml